@font-face {
  font-family: SpaceGrotesk-bold;
  src: url(.SpaceGrotesk-Bold.ttf);
}
@font-face {
  font-family: SpaceGrotesk-light;
  src: url(.SpaceGrotesk-Light.ttf);
}
@font-face {
  font-family: SpaceGrotesk-medium;
  src: url(.SpaceGrotesk-Medium.ttf);
}
@font-face {
  font-family: SpaceGrotesk-regular;
  src: url(.SpaceGrotesk-Regular.ttf);
}
@font-face {
  font-family: SpaceGrotesk-semiBold;
  src: url(.SpaceGrotesk-SemiBold.ttf);
}
@font-face {
  font-family: SpaceGrotesk-variable;
  src: url(.SpaceGrotesk-VariableFont_wght.ttf);
}
* {
  transition: 1s ease-in-out;
}

body {
  background: #f5f5f5;
}
body.dark {
  background: #151A26;
}

header {
  display: flex;
  width: 96vw;
  height: 5vh;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  display: flex;
  flex-direction: column;
}
.headerLogo .adriel {
  margin: 0;
  font-size: 24px;
  font-family: SpaceGrotesk-bold;
}
body.dark .headerLogo .adriel {
  color: #f5f5f5;
}
.headerLogo .castelo {
  margin: -11px 23px;
  font-size: 16px;
  font-family: SpaceGrotesk-light;
}
body.dark .headerLogo .castelo {
  color: #f5f5f5;
}

.headerNav {
  margin: 10px;
}
.headerNav a {
  font-family: SpaceGrotesk-light;
  color: #7a797d;
  margin: 0 10px;
  text-decoration: none;
  transition: 0.6s ease-in-out;
  font-size: 20px;
}
.headerNav a:hover {
  color: #000;
  font-family: SpaceGrotesk-bold;
}
body.dark .headerNav a:hover {
  color: #f5f5f5;
}

#hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 97vw;
  height: 97vh;
}

.leftSide {
  margin-left: 10px;
}

.rightSide {
  background: url(img-cv2.jpg);
  height: 70%;
  width: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1000px;
}
body.dark .rightSide {
  background: url(img-cv3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sideBar .socialMedia {
  border-radius: 10px;
  text-decoration: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 0;
  top: 100px;
  left: -80px;
  width: 5vw;
}
.sideBar .socialMedia:hover {
  left: -20px;
}
.sideBar i {
  border-radius: 20px;
  background-color: #b7b7b7;
  width: 100px;
  text-align: right;
  padding: 10px;
  text-decoration: none;
  color: #fefefe;
  margin: 1px;
  font-size: 20px;
}
.sideBar i:hover {
  font-size: 30px;
  padding: 12px;
  border-radius: 30px;
}
body.dark .sideBar i {
  background-color: #343d5b;
}
.sideBar .instagram i:hover {
  color: #c32aa3;
}
.sideBar .linkedin i:hover {
  color: #0A66C2;
}
.sideBar .twitter i:hover {
  color: #00acee;
}

.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active {
  background: orange;
  color: #000;
}
.switch.active::after {
  right: 0;
  left: unset;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 443px;
  height: 95px;
}
.title h2 {
  font-size: 48px;
  font-family: SpaceGrotesk-bold;
  margin-bottom: 0;
}
body.dark .title h2 {
  color: #f5f5f5;
}
.title h6 {
  font-size: 20px;
  font-family: SpaceGrotesk-light;
  color: #7a797d;
  margin-top: 0;
}

.anchors {
  width: 422px;
  height: 31px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0;
}
.anchors a {
  font-size: 24px;
  font-family: SpaceGrotesk-regular;
  text-decoration: none;
  color: #000;
}
body.dark .anchors a {
  color: #f5f5f5;
}

#about {
  width: 97vw;
  height: 70vh;
  display: flex;
}

.subTitle {
  font-size: 24px;
  font-family: SpaceGrotesk-medium;
  width: 50vw;
  margin-left: 50px;
}
.subTitle h4 {
  margin: 0;
}
body.dark .subTitle h4 {
  color: #f5f5f5;
}

.textDescription {
  width: 50%;
  font-size: 20px;
  font-family: SpaceGrotesk-regular;
  color: #7a797d;
  line-height: 36px;
}

#skills {
  width: 97vw;
  height: 60vh;
  display: flex;
}
#skills .skills {
  text-align: center;
}
#skills i {
  font-size: 100px;
  margin: 10px;
}
body.dark #skills i {
  color: white;
}

#works {
  width: 97vw;
  height: 40vh;
  display: flex;
}

.work {
  display: flex;
}
body.dark .work {
  color: #f5f5f5;
}

.workDescription {
  margin-left: 100px;
}
.workDescription a {
  color: #000;
}
body.dark .workDescription a {
  color: #f5f5f5;
}

.imgWork img {
  object-fit: cover;
  width: 153px;
  height: 153px;
  border-radius: 100%;
}

#contact {
  display: flex;
  width: 97vw;
  height: 40vh;
}

.mail {
  font-family: SpaceGrotesk-light;
  color: #7a797d;
}
.mail h5 {
  font-size: 46px;
  margin: 0;
}
.mail p {
  font-size: 20px;
}

.workContainer {
  margin: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.workContainer h4 {
  text-align: center;
}
.workContainer .presentation {
  font-family: SpaceGrotesk-light;
  color: #151A26;
  font-size: 20px;
}
body.dark .workContainer .presentation {
  color: #f5f5f5;
}
.workContainer .sectionContainer {
  width: 100%;
  height: 90vh;
  background: #7a797d;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px;
}
body.dark .workContainer .sectionContainer {
  background: #343d5b;
}
.workContainer .sectionContainer .subTitle h4 {
  color: #f5f5f5;
  margin-top: 2%;
  text-align: center;
}
.workContainer .sectionContainer .presentation {
  color: #f5f5f5;
  font-size: 20px;
  width: 70%;
}
.workContainer .sectionContainer .sectionImg {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 80%;
  height: 100%;
}
.workContainer .sectionContainer .sectionImg img {
  height: 70%;
  width: 70%;
}

/*# sourceMappingURL=style.css.map */
